<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334066460621-d26k7nf0nfl295u6urk2bvbpujcp9cej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334066460621-d26k7nf0nfl295u6urk2bvbpujcp9cej</string>
	<key>API_KEY</key>
	<string>AIzaSyCF_MajzOO3VFUB60ZK0VRcBIx9A_PHPRk</string>
	<key>GCM_SENDER_ID</key>
	<string>334066460621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>academy.com.Grupo3.Relpi</string>
	<key>PROJECT_ID</key>
	<string>relpi-db</string>
	<key>STORAGE_BUCKET</key>
	<string>relpi-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334066460621:ios:082da1fdac44ff53eac684</string>
</dict>
</plist>